  * {
  text-align:center;
  font-family:Noto Sans;
}

input {
  width:340px;
  margin:10px;
  font-size:100%;
  text-align:left;
  padding:5px 10px;
  border:1px solid #C1C1C1;
  border-radius:2px;
  outline:none;
}

button {
  width:340px;
  margin:10px;
  font-size:100%;
  font-weight:600;
  color:white;
  padding:5px 10px;
  border:1px solid #0d8ae2;
  border-radius:2px;
  background:#0d8ae2;
  transition:0.5s;
}

#error {
  display: none;
  width:330px;
  background:#F14C34;
  color:white;
  font-size:100%;
  margin:10px auto;
  padding:5px 5px;
  overflow:visible;
}

#error p {
    display:block;
    margin:0px;
  }

#success {
  width:340px;
  background:#2ecc71;
  color:white;
  font-size:100%;
  margin:10px auto;
  padding:5px 10px;
  margin:10px;
  border-radius:2px;
  display:none;
}

input:focus {
  border-color:black;
}

button:hover {
  color:#0d8ae2;
  background:white;
}

a {
  color:#0d8ae2;
}
