@keyframes ani_rotate {
    from {transform:rotate(270deg);}
    to {transform:rotate(45deg);}

}

html,body {
  margin:0px;
  overflow:hidden;
}

#nav {
  background:black;
  height:60px;
}

#logo {
  display:inline-block;
  height:100%;
  width:auto;
  margin-right:10px;
  float:left;
}

#logo-text {
  display:inline-block;
  height:100%;
  color:white;
  font-family:Helvetica;
  font-size:17.5px;
  margin:13px 0px;
}

h2 {
    margin:0px;
}

#logo img {
  margin:5px 5px;
}

#plus {
  width:30px;
  height:30px;
  margin:7.5px 15px;
  float:right;
  display:inline-block;
  border:2px solid white;
  border-radius:50%;
  transform:rotate(180deg);
  transition-duration:1s;
}

#folder_menu {
  float:left;
  display:inline-block;
  height:100%;
  margin:1%;
  width:25%;
  border:1px solid black;
}

#menu {
  display:inline-block;
  height:100%;
  margin:1%;
  width:70%;
  border:1px solid black;
}

#new_element_container {
  position: absolute;
  width:100%;
  height:100%;

}

#new_element {
  margin:50px auto;
  border:1px solid black;
  width:800px;
  background:#FFFFFF;
  overflow:;
}

#title_input,#description_input,#add_button{
  display:block;
  margin:30px auto 20px auto;
}

#title_input,#description_input {
  font-family:Roboto;
  font-size:20px;
  padding:10px;
  width:80%;
}

#description_input {
  height:100px;
  resize:none;
}

#add_button {
    font-size:20px;
    background:white;
    border:1px solid black;
    border-radius:3px;
    padding:5px 10px;
}

.element_container {
  margin:20px;
  height:65px;
  border:1px solid black;
  overflow:visible;
}

.text_container {
  display:inline-block;
}

.checkbox {
  border:1px solid black;
  width:30px;
  height:30px;
  margin:17px 10px;
  float:left;
  background:#FFFFFF;
}

.checkbox img {
  width:100%;
}

.title,.description {
  margin:1px;
  font-family:Roboto;
}

.title {
  font-size:30px;
}
