@keyframes ani_rotate {
    from {transform:rotate(270deg);}
    to {transform:rotate(45deg);}

}

html,body {
  margin:0px;
  overflow:hidden;
}

#nav {
  background:#121212;
  height:60px;
  border-bottom:2px solid springgreen;
}

#logo {
  height:100%;
  width:auto;
  margin-right:10px;
  float:left;
}

#logo-text {
  display:inline-block;
  height:100%;
  color:white;
  font-family:Helvetica;
  font-size:17.5px;
  margin:13px 0px;
}

h2 {
    margin:0px;
}

#logo img {
  margin:5px 5px;
}

#plus {
  width:40px;
  height:40px;
  margin:7.5px 15px;
  float:right;
  border-radius:50%;
  transform:rotate(180deg);
  transition-duration:1s;
}

#folder_menu {
  float:left;
  height:100%;
  margin:1%;
  width:25%;
  border:1px solid black;
  background-color:white;
}

#menu {
  display:inline-block;
  height:90%;
  margin:1%;
  width:70%;
  border-left:1px solid #C1C1C1;
  background-color:white;
  overflow:auto;
}

#new_element_container {
  position: absolute;
  width:100%;
  height:100%;
}

#new_element {
  margin:50px auto;
  border:2px solid black;
  width:800px;
  background:#FFFFFF;
}

#title_input,#description_input,#add_button{
  font-family:Noto Sans;
  display:block;
  margin:30px auto 20px auto;
  outline:none;
  transition:0.3s;
}

#title_input,#description_input {
  border:1px solid #a9a9a9;
  font-family:Noto Sans;
  font-size:20px;
  padding:10px;
  width:80%;
}

#description_input {
  height:100px;
  resize:none;
}

#add_button {
    font-size:20px;
    background:white;
    border:1px solid black;
    padding:5px 80px;
}

.element_container {
  margin:20px;
  height:65px;
  border-bottom:1px solid #C1C1C1;
  overflow:visible;
}

.text_container {
  display:inline-block;
}

.checkbox {
  border:1px solid black;
  width:30px;
  height:30px;
  margin:17px 10px;
  float:left;
  background:#FFFFFF;
}

.checkbox img {
  width:100%;
}

.title,.description {
  margin:1px;
  font-weight:300;
  font-family:Noto Sans;
}

.title {
  font-size:25px;
}

#title_input:focus, #description_input:focus{
  box-shadow:0px 0px 15px 1px #c9c9c9;
}

#add_button:active {
  background:black;
  color:white;
}

